.cabecalho {
    box-sizing: border-box;
    color: var(--cor-fonte-cabecalho);
    font-weight: var(--fonte-peso-cabecalho);
    position: relative;
}

.cabecalho__imagem-desktop {
    display: none;
}

.lista-multipagina__corpo span {
    display: none;
}

.cabecalho__lista-multipagina {
    display: flex;
    gap: 20px;
    left: 50%;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -25%);
}

.lista-multipagina__item {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 8px 12px;
}

.lista-multipagina__item--ativo {
    background-color: var(--cor-fundo-multipaginas-cabecalho);
    border: none;
    color: #000000;
}

.lista-multipagina__item--inativo {
    display: none;
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        position: relative;
    }

    .cabecalho__imagem-desktop {
        display: block;
    }

    .cabecalho__imagem-mobile {
        display: none;
    }

    .lista-multipagina__corpo {
        display: grid;
        column-gap: 15px;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .cabecalho__lista-multipagina {
        display: flex;
        flex-direction: column;
        left: 12%;
        position: absolute;
    }

    .lista-multipagina__item {
        grid-row: 1/3;
    }

    .lista-multipagina__corpo span {
        display: block;
    }
}
