.rodape {
    background-color: var(--cor-fundo-padrao-rodape);
    box-sizing: border-box;
    padding: .9em;
    position: relative;
}

.rodape__botao-voltar {
    background-color: transparent;
    border: none;
    color: #02295A;
    cursor: pointer;
    font-weight: 400;
    left: 20px;
    position: absolute;
    top: 20px;
}

.rodape__botao-voltar:hover {
    color: var(--cor-fonte-descricao-principal);
}

.inativo {
    display: none;
}

.rodape__botao-proximo {
    background-color: #02295A;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: .7em;
    right: 20px;
    text-decoration: none;
    transition: all .4s linear;
}

.rodape__botao-proximo:hover {
    background-color: #011e41;
    cursor: pointer;
}

.rodape__botao-proximo:active {
    background-color: #011e41bd;
}

.rodape__botao {
    position: absolute;
}