.rodape {
    background-color: var(--cor-fundo-padrao-rodape);
    box-sizing: border-box;
    padding: .9em;
    text-align: right;
}

.rodape__botao {
    background-color: #02295A;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: .7em;
    text-decoration: none;
    transition: all .4s linear;
}

.rodape__botao:hover {
    background-color: #011e41;
    cursor: pointer;
}

.rodape__botao:active {
    background-color: #011e41bd;
}