/* Variáveis globais dos arquivos CSS */
:root {
    /* Variáveis do body */
        --fonte-familia-padrao: 'Ubuntu', sans-serif;
        --fonte-tamanho-padrao: 16px;
        --fonte-peso-padrao: 400;
    /* Variáveis do body */
    /* Variáveis do cabeçalho */
        --fonte-peso-cabecalho: 500;
        --cor-fonte-cabecalho: #FFFFFF;
        --cor-fundo-multipaginas-cabecalho: #BFE2FD ;
    /* Variáveis do cabeçalho */
    /* Variáveis do principal */
        --cor-fundo-padrao-principal: #F0F6FF;
        --cor-fundo-formulario-principal: #FAFBFF;
        --cor-fonte-padrao-principal: #02295A;
        --cor-fonte-descricao-principal: #9699AB;
        --fonte-peso-titulo-principal: 700;
        --fonte-peso-labels-formulario: 500;
    /* Variáveis do principal */
    /* Variáveis do rodapé */
        --cor-fundo-padrao-rodape: #FAFBFF;
    /* Variáveis do rodapé */
    --cor-texto-inativo: #9699AB;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-familia-padrao);
    font-size: var(--fonte-tamanho-padrao);
    font-weight: var(--fonte-peso-padrao);
    height: 100vh;
}

@media screen and (min-width: 1440px) {
    body {
        background-color: aquamarine;
        padding: 10%;
    }
}