.conteudo__secao {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
}

.secao__checkbox {
    grid-row: 1/3;
}

.secao__preco-tempo {
    grid-column: 3/4;
    grid-row: 1/3;
}