.form-tres {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, auto);
}

.conteudo__secao:hover {
    border: 1px solid #473DFF;
}

.secao__checkbox, .secao__check {
    grid-row: 1/3;
}

.absoluto {
    left: -9999px;
    position: absolute;
}

.checkbox-personalizado {
    background-color: transparent;
    border: 1px solid #9699AB;
    border-radius: 5px;
    height: 20px;
    position: relative;
    width: 20px;
}

.secao__checkbox:checked ~ .checkbox-personalizado {
    background-color: #473DFF;
}

.check {
    border-left: 2px solid var(--cor-fundo-formulario-principal);
    border-bottom: 2px solid var(--cor-fundo-formulario-principal);
    height: 7px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-50deg);
    top: 50%;
    width: 10px;
}

.secao__checkbox:checked + .checkbox-personalizado ~ .check {
    background-color: white;
}

.secao__preco-tempo {
    color: #473DFF;
    font-size: 12px;
    font-weight: 500;
    grid-column: 3/4;
    grid-row: 1/3;
}