@import url("./formularios/formularioTipoUm.css");
@import url("./formularios/formularioTipoDois.css");
@import url("./formularios/formularioTipoTres.css");
@import url("./formularios/formularioTipoQuatro.css");

.principal {
    background-color: var(--cor-fundo-padrao-principal);
    color: var(--cor-fonte-padrao-principal);
    height: calc(100vh - 172px - 4.1em);
    position: relative;
}

.principal__formulario {
    background-color: var(--cor-fundo-formulario-principal);
    border-radius: 10px;
    box-shadow: 1px 3px 15px #D6D9E696;
    height: auto;
    left: 0;
    margin: auto;
    padding: 1.5em 1em;
    position: absolute;
    right: 0;
    top: -80px;
    width: 90%;
}

.conteudo__titulo {
    font-size: 22px;
    font-weight: var(--fonte-peso-titulo-principal);
}

.conteudo__descricao {
    color: var(--cor-fonte-descricao-principal);
    font-size: 14px;
    margin: 1em 0;
}

.conteudo__rotulo {
    display: block;
    font-size: 14px;
    font-weight: var(--fonte-peso-labels-formulario);
    margin-bottom: 5px;
}
